<section id="about">
    <div class="container">
        <h2><strong>About me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile-iamge.png" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="#" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" target="_blank" title="Suivez moi sur GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Designer &amp; Ilustrator.</h3>
                <p class="font-italic">
                    I am interested in new technologies and new methodologies.
                    <br>Passionate about art <b>Design</b> and <b>Ilustration</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Global experience</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Seville, Spain</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:isabel.paguillo@gmail.com">
                                        isabel.paguillo@gmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 25 years</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Licensed in graphic design</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Autodicact designer </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I am looking for a job, where I can learn new techniques and apply them to my professional development.
                </p>
            </div>
        </div>
    </div>
</section>